<<<<<<< HEAD
table {
      border-collapse: collapse;
}
td {
      border: 1px solid;
}
th {
      border: 1px solid;
      padding-right: 20px;
=======
table {
      border-collapse: collapse;
}
td {
      border: 1px solid;
}
th {
      border: 1px solid;
      padding-right: 20px;
>>>>>>> 356f7a26cc33c174720c96a6aa47b47307f40e45
}