body {
      display: flex;
      justify-content: center;
}
    
.game-container {
      position: relative;
      height: 600px;
      overflow: hidden;
      border: 1px #000000 solid;
      user-select: none;
}
    
.bg {
      background-image: url('assets/Flappy_Bird/background-day.png');
}
    
.score {
      background: #ffffff;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #000000;
      font-size: 28px;
      width: 50px;
      text-align: center;
      border: 1px #000000 solid;
}
    
.overlay {
      position: absolute;
      inset: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
}
    
.hidden {
      display: none;
}
    
.btn {
      background: #ffffff;
      padding: 10px 18px;
      cursor: pointer;
      border: 1px #000000 solid;
}
    
.results {
      background: #ffffff;
      padding: 8px;
      text-align: center;
      border: 1px #000000 solid;
}